<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9e8789a4-3b73-4f32-bc5e-809c7b5e75c1/resourceGroups/development-SocialFuse/providers/Microsoft.Web/sites/development-SocialFuse</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://development-socialfuse.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>development-socialfuse.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>development-SocialFuse</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$development-SocialFuse</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>