@page
@model Pages.IndexModel

@*<div class="d-flex" style="min-height:100vh; background:url('https://images.unsplash.com/photo-1482440308425-276ad0f28b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-size:cover; background-repeat:no-repeat;">

</div>*@

<!-- Masthead -->
<header class="masthead text-white text-center row-full mt-n3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">SocialFuse <small class="text-white-50 d-block">Local source for Tech News.</small></h1>
               </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/Register" class="btn btn-block btn-lg btn-primary">Become a Member!</a>
            </div>
        </div>
    </div>
</header>

<!-- Posts Grid -->
<section class="row-full py-5">
    <div class="container">
        <div class="row">
            <!-- Loop through and display posts -->
            @foreach (var post in Model.Posts) {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@post.AuthorName</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/Posts/Details?id=@post.Id" class="btn btn-primary">Read</a>
                </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center row-full">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex justify-content-center">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h3>Local Tech</h3>
                    <p class="lead mb-0">Traverse City is the tech center for Northern Michigan.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex justify-content-center">
                        <i class="fa fa-user-astronaut"></i>
                    </div>
                    <h3>Awesome People</h3>
                    <p class="lead mb-0">Now, there are more young entrepreneurs with even more startups worth talking about.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex justify-content-center">
                        <i class="fa fa-newspaper"></i>
                    </div>
                    <h3>Big Stories</h3>
                    <p class="lead mb-0">Always new. Always interesting. And always honest.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase row-full">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1493414307931-f6f5861f5029?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1780&q=80');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fresh Photos &amp; Fresher Stories</h2>
                <p class="lead mb-0">Rest assured, we are always striving to give you the latest stories with the best visuals.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80'); background-position:center center;"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Awesome People</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1521763041807-c5f24b03ade7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'); background-position:center center;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>A Big, Beautiful Future</h2>
                <p class="lead mb-0">With so many startups and so many ideas, the future of tech and business in Northern Michigan has never been brighter.</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light row-full">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"EntrepreneurTC is amazing. I love being updated with all of the local business ventures!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making this a free and openly available resource!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center row-full">
    <div class="overlay"></div>
    <div class="container">
        <div class="row row-full">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Not a member? Sign up now!</h2>
            </div>
            <div class="col-12 text-center">
            
                <a href="/Register" class="btn btn-lg btn-primary">Join SocialFuse</a>

            </div>
        </div>
    </div>
</section>